body {
background-color: #f8f9fa;
/* background-image: url("../img/banner.jpg"); */
}
.nav-item{
    color: black;
    font-weight: bold;
}
header{
    /* height: 70px; */
}
.banner{
    width: 100%;
    /* max-height: 109vh; */
    background-image: url("../img/banner.jpg");
    background-size: cover;
    /* background-size: contain; */
}
.call{
    margin-top: 6.25em;
    margin-bottom: 21.8em;
}
.bgimg{
    /* background-image: url("../img/banner.jpg"); */
}
#testimonials{
    margin-top:6.25em;
}
.sectionspace{
    margin-top:6.25em;
}
section{
    /* min-height: 109vh; */
}
.logo{
    height: 50px;
    /* width: auto; */
}
.cta{
    color: white;
    font-weight: bolder;
}
.custom{
    padding: 2.375rem;
    background-color:white;
}
.custom2{
    /* padding: 1rem; */
}
@media only screen and (max-width: 750px) {
    .call{
        margin-top: auto;
        margin-bottom: auto;
    }
}