body {
background-color: #f8f9fa;
/* background-image: url("../img/banner.jpg"); */
}
.nav-item{
    color: black;
    font-weight: bold;
    font-size: smaller;
    padding-right: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: black
}
header{
    /* height: 70px; */
}
.banner{
    width: 100%;
    /* max-height: 109vh; */
    background-image: url("../img/banner.jpg");
    background-size: cover;
    /* background-size: contain; */
}
.call{
    margin-top: 6.25em;
    margin-bottom: 21.8em;
}
.border{
    border-width:0.1875rem !important;
}
.bgimg{
    /* background-image: url("../img/banner.jpg"); */
}

.sectionspace{
    margin-top:3.25em;

}
.testimonials{
    margin-top:6.25em;
    background-image: url("../img/Path\ 15.png");
    /* background-size: contain; */
    background-position: 30% 30%;
    /* padding-bottom: 15em; */
}
.morespace{
    margin-bottom: 8em;
}

#aboutus h1{
    font-weight: bold;
}
#aboutus{
    padding-top: 4em;
}
.expertise{
    font-weight: bold;
    color: gray;
}
.mobile p{
    font-weight: bold;
    color: gray;
}
.aldelia p{
    font-weight: bold;
    /* color: gray; */
}
#project{
    background-color: antiquewhite;
    /* margin-top:1.25em; */
    padding-bottom: 15em;
}
.contacts{
    margin-top:6.25em;
}
.coolborder{
    border-radius: 0.5rem;
}

section{
    /* min-height: 109vh; */
}
.logo{
    height: 89px;
    width: auto;
    margin: -29px -29px -29px -8px;
}
.cta{
    color: white;
    font-weight: bolder;
}
.custom{
    padding: 3.375rem;
    background-color:white;

}

.btncarousel{
    color: black;
    border:1px solid;
    /* padding: 6px 21px; */
}

.custom2{
    /* padding: 1rem; */
}
.resize{
    max-width: 145%;
}
@media only screen and (max-width: 750px) {
    .call{
        margin-top: auto;
        margin-bottom: auto;
    }
}
.link{
    color: inherit;
}
.makebold{
    font-weight: bolder;
}
.customcolor{
    color: white;
}

/* .footer-brand-logos a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
} */