body {
background-color: grey;
/* background-image: url("../img/banner.jpg"); */
}
.navbar-nav .navtext{
    color: black;
    font-weight: bold;
}
header{
    /* height: 70px; */
}
.banner{
    width: 100%;
    height: 720px;
    /* text-align: center; */
    /* background-image: url("../img/banner.jpg"); */
    /* background-size: contain; */
}
section{
    background-image: url("../img/banner.jpg");
    background-size: cover;
}
.logo{
    height: 50px;
    /* width: auto; */
}
.cta{
    color: white;
}